body {
	background: #eeeee4;
}

.icon-circle {
	width: 64px;
	height: 64px;
	vertical-align: middle;
}

.card-container {
	width: 500px;
	height: 400px;
	margin-left: 200px;
}

.title {
	font-size: 32px;
	font-weight: bold;
	margin-left: 30px;
}

.bug-card {
	width: 500px;
	height: 400px;
	margin-top: 30px;
	border: 1px solid black;
	background: white;
	position: relative;
}

.fab {
	background: white;
	height: 30px;
	width: 30px;
	position: absolute;
	right: 0;
	bottom: 0;
	margin-right: 10px;
	margin-bottom: 20px;
}

.btn {
	margin-top: 20px;
}

.add-bug-container {
	left: 250px;
	width: 400px;
	height: 200px;
	background: white;
	position: relative;
}

.bug-done {
	color: blue;
	text-decoration: line-through;
}
